body {
    background-color: #221b18;
    color: white;
    font-size: medium;
    text-align: justify;
}
h1 {
    color: #ff0000;
}
h2 {
    color: #ffd257;
}
h3 {
    color: #ff6955;
}
b {
    color: #fc00e2;
}
table, td, th {
    color: white;
    border: solid 1px;
    text-align: center;
}
th {
    color: #00c9fe;
    border-color: white;
}
figcaption {
    color: #00c9fe;
    text-align: center;
    font-size: larger;
}
a {
    color: #05fd00;
}
input {
    padding: 10px;
    font-size: medium;
    background-color: white;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav a:hover {
    color: #ff0000;
}
.nav li{
    padding-right: 20px;
}
img {
    width: 100%;
    height: auto;
}